@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main_color: #8161c3;
    --main_color_seg: #9E87D6;

    --background: #e1e1f5;
    --contrast_back: #FFFFFF;

    --black: #2E2B3F;
    --black_l: #504C60;
    --black_ll: #807B93;

    --transp: #B9A6E188;

    --alert: #db4f60;
    --success: #46e68a;
}

::selection {
    background-color: var(--main_color);
    color: var(--contrast_back);
}

* {
    scrollbar-width: thin;
    /* Firefox */
    scrollbar-color: var(--main_color) var(--contrast_back);
    /* Firefox */
}

*::-webkit-scrollbar-thumb {
    background-color: var(--main_color) !important;
}

*::-webkit-scrollbar-track {
    background-color: var(--contrast_back) !important;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: var(--transp) !important;
}

*::-webkit-scrollbar-button {
    display: none !important;
    height: 0 !important;
    width: 0 !important;
}


* {
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
}

#logo {
    width: 9rem;
    cursor: pointer;
}

#icone_logo {
    display: none;
    width: 3rem;
    cursor: pointer;
}

footer {
    width: 100%;
    margin-top: 2rem;
    text-align: center;
    background: var(--main_color);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;

    p {
        font-size: 0.7rem;
    }

    #social {
        margin: 1rem 0 0;
        display: flex;
        gap: 1rem;

        a svg {
            width: 2rem;
        }

        a svg path {
            transition: fill 0.2s ease;
        }

        a:hover svg path {
            fill: var(--black);
        }
    }
}

dialog#notifications {
    width: 80%;
    height: 90%;
    max-width: unset;

    div#content_not {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        #header_not {
            display: flex;
            flex: 2;
            width: 100%;
            flex-direction: column-reverse;
            align-items: flex-end;

            h1 {
                margin: 0 0 2rem;
                width: 100%;
            }
        }

        #list_not {
            flex: 6;
            display: flex;
            justify-content: center;
            align-items: center;

            div#error_not {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;
                font-size: 1.5rem;
                color: var(--black_ll);
                text-align: center;

                span {
                    font-size: 4rem;
                }
            }
        }

        #footer_not {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;

            button.button.btn_default {
                width: 60%;
                font-size: 1.2rem;
            }
        }
    }
}

@media (max-width: 900px) {
    #logo {
        display: none;
    }

    #icone_logo {
        display: block;
    }

    dialog#notifications {
        width: 100% ;
        margin: auto auto 0;
        border-radius: unset;
    }
}